DATABASE_URL=postgresql://USER:PASSWORD@HOST:PORT/postgres
DB_SSL=true
DB_SYNCHRONIZE=false
JWT_SECRET=change_me
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000
PORT=3001

# monday.com integration
MONDAY_API_TOKEN=replace_me
MONDAY_LIFTS_BOARD_ID=5094538892
MONDAY_LIFTS_STATUS_COLUMN_ID=color_mm2c93ne
